{% extends 'base.html' %}

{% block head %}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>

        {% if username_lower %}

            var socket = new ReconnectingWebSocket("wss://websockets.justyo.co/socket");

            socket.onopen = function(message) {
                console.log('socket opened');
                socket.send('/subscribe status.update {{ username_lower }}')
            };

            socket.onclose = function(message) {
                console.log('socket closed');
            };

            socket.onmessage = function(message) {
                var data = JSON.parse(message.data);
                var username = data.user.username;
                var emoji = data.user.status;
                $('#' + username).html(emoji);

                var index = emoji.codePointAt(0).toString(16);
                var imageUrl = 'http://cdn.yostat.us/emoji/' + index + '.png';
                $("#favicon").attr("href", imageUrl);
            };

            $.post('https://justyo.co/touch/', {
              username: '{{ username_lower }}',
              app_id: 'co.justyo.yostatus'
          } );

        {%  endif %}

    </script>
{% endblock head %}

{% block content %}

    <input type="hidden" id="username" value="{{ user.username }}">
    <div class="item tooltip emoji" id="{{ user.username }}">
        {{ user.status }}
    </div>

    <div class="footer">

    {% if platform == 'ios' %}

        <button id="addbutton" class="button" onclick="location.href='yostatus://user/{{ user.username }}';">Add {{ user.display_name }}</button>
        <button id="getapp" class="button" onclick="location.href='yostatus://user/{{ user.username }}';">Get the app</button>

    {% elif platform == 'android' %}

        <button id="getapp" class="button" onclick="location.href='http://bit.ly/yo-status-android';">Get the app</button>

    {% else %}

        <button id="addbutton" class="button" onclick="$('#addbutton').hide(); $('#textMeForm').show(); $('.phone').focus()">Add {{ user.display_name }}</button>
        <form id="textMeForm" style="display: none;">
            <input class="phone" type="text" size="15" maxlength="15" placeholder="415-555-1234" name="phone" style="display: inline;">
            <input class="button" type="submit" value="Text me the app!" />
        </form>

    {% endif %}

    </div>

{% endblock %}